<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Django на Хекслете{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="{% url 'articles_index' %}">Статьи</a></li>
            <li><a href="{% url 'article_create' %}"> Добавить статью</a>
        </ul>
    {% endblock %}
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>